body {
    font-family: Arial, sans-serif; /* 设置字体 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* 页面背景颜色 */
	background-image: url(../images/TG2.png);
	background-size: cover;
}

#note-container {
    position: relative;
    width: 95%; /* 容器宽度 */
    max-width: 1600px; /* 最大宽度 */
    height: 600px; /* 容器高度 */
    border: 1px solid #ccc; /* 边框样式 */
    overflow: hidden; /* 防止内容溢出 */
    margin-bottom: 20px; /* 与下方元素的间距 */
	 background-color: rgba(255, 255, 255, 0.2); /*（透明度） */
}
.setting-row label{
	color: orange;
}
.note {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; /* 内容居中显示 */
    padding: 10px; /* 内边距 */
    cursor: move; /* 鼠标样式为移动 */
    border: 1px solid #ccc; /* 边框样式 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 阴影效果 */
    transition: transform 0.3s ease; /* 平滑过渡效果 */
    overflow: auto; /* 内容滚动 */
    resize: both; /* 可调整大小 */
    min-width: 100px; /* 最小宽度 */
    min-height: 50px; /* 最小高度 */
    word-wrap: break-word; /* 长单词换行 */
}

.note.rounded {
    border-radius: 10px; /* 圆角样式 */
}

.note.square {
    width: 100px; /* 正方形尺寸 */
    height: 100px;
}

.note.rectangle {
    width: 200px; /* 长方形尺寸 */
    height: 100px;
}

.note.hexagon {
    width: 100px; /* 六边形尺寸 */
    height: 100px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* 六边形剪裁路径 */
}

#note-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 表单居中 */
}

#note-content {
    width: 500px; /* 文本框宽度 */
    height: 100px; /* 文本框高度 */
    margin-bottom: 10px; /* 与按钮的间距 */
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center; /* 设置选项居中 */
    margin-top: 20px; /* 与表单的间距 */
}

.setting-row {
    display: flex;
    align-items: center; /* 设置行居中 */
    margin-bottom: 10px; /* 与下方元素的间距 */
}

.setting-row label {
    margin-right: 10px; /* 标签与输入框的间距 */
}

.setting-row input[type="color"], .setting-row select {
    margin-right: 10px; /* 输入框与选择框的间距 */
}